/* @charset "UTF-8"; */

/*:root {*/
/*    --contour: 20px solid purple;*/
/*}*/

/*header {*/
/*    border: var(--contour);*/
/*}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
/*    width: 100%;*/
    height: 100%;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgb(255,59,0);
    background: linear-gradient(162deg, rgba(255,59,0,0.7682423311121324) 0%, rgba(253,208,45,0.7990546560421043) 62%);
}

header{
    width: 100%;
}

h1 {
    font-family: "Trebuchet MS";

}

h1 a {
    text-decoration: none;
    border: solid 3px;
    margin: 5px;
    color : rgb(255, 80, 3);
}

header button {
    position: fixed;
    top: 2px;
    right: 2px;
}

header input {
    display: inline-block;
    position: fixed;
    top: 2px;
    right: 2px;
}

header h1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(255, 80, 3);
    height: 60px;
    width: 100%;
}

header nav ul {
    border-radius: 5px;

}

#accueil::before{
    content: url(/pratique-musique-12/icons/accueil.svg);
    padding-right: 10px;
}

#recherche::before{
    content: url(/pratique-musique-12/icons/rechercher.svg);
    padding-right: 10px;
}

#contact::before{
    content: url(/pratique-musique-12/icons/contact.svg);
    padding-right: 10px;
}


header nav ul, header nav ul li {
    display: flex;
    justify-content: space-evenly;
}


header nav ul li a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 30px;
    margin: 2% 2%;
    text-decoration: none;
    border-radius: 5px;
    background-color: lightpink;
    color: black;
    border: black 2px;
}

.deroulant > a::after {
    content: " ▼ ";
    padding-left: 10px;
    opacity: 80%;
}

.sous {
    display: none;
    position: absolute;
    z-index: 1000;
}

header nav > ul li:hover .sous {
    display: block;
}

.sous li{
    float: none;
}


h2{
    display: flex;
    align-items: center;
}

section{
/*    display: flex;
    flex-direction: column;*/
    scroll-behavior: smooth;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-grow:1;    /*Permet le callage du pieds de page en déformant la section par rapport aux autres objets*/
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
}

section>p{
    margin: 1em;
}

/* ====================================================== */
/* ////////////////////////////////////////////////////// */
/* ///////////////////// Scrollbar ////////////////////// */
/* ////////////////////////////////////////////////////// */
/* ====================================================== */
section::-webkit-scrollbar {
    width: 10px;
}

section::-webkit-scrollbar-thumb {
    background: rgb(0, 255, 0);
    border-radius: 20px;
}

section::-webkit-scrollbar-track {
    border-radius: 20px;
}
/* ====================================================== */
/* ////////////////////////////////////////////////////// */
/* /////////////////// fin Scrollbar //////////////////// */
/* ////////////////////////////////////////////////////// */
/* ====================================================== */
footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 80, 3);
    margin: auto;
    width: 100%;
    text-align: center;
}
