/* CSS header */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    font-family: "IBM_mono_regular";
    display : flexbox;
    flex-direction: column;
  column-gap : 200px;
    position: fixed;
    width: 100%;
/*     height: 20%; */
    z-index: 1000;
  background-color : lightblue;
  justify-content : center;
}

/* ====================================================== */
/* ////////////////////////////////////////////////////// */
/* ///////////////////// @FONT-FACE ///////////////////// */
/* ////////////////////////////////////////////////////// */
/* ====================================================== */
@font-face {
    font-family: "IBM_mono_regular";
    src: url("../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf");
}

@font-face {
    font-family: "IBM_mono_italic";
    src: url("../fonts/IBM_Plex_Mono/IBMPlexMono-Italic.ttf");
}

/* ====================================================== */
/* ////////////////////////////////////////////////////// */
/* ///////////////////// @FONT-FACE ///////////////////// */
/* ////////////////////////////////////////////////////// */
/* ====================================================== */

/* ====================================================== */
/* ////////////////////////////////////////////////////// */
/* ///////////////////////// H1 ///////////////////////// */
/* ////////////////////////////////////////////////////// */
/* ====================================================== */
h1 {
    left: 0.8em;
    display: flex;
    align-self: flex-start;
    color: rgb(194, 0, 0);
    font-size: 2em;
    border: 2px solid rgb(194, 0, 0);
  border-block-end: 1px;
    padding: 3px;
  width: 300px;
    text-align: center;
    flex: 1;
}

h1 a {
    text-decoration: none;
    color: rgb(194, 0, 0);
}

/* ====================================================== */
/* ////////////////////////////////////////////////////// */
/* /////////////////////// fin H1 /////////////////////// */
/* ////////////////////////////////////////////////////// */
/* ====================================================== */

/* ====================================================== */
/* ////////////////////////////////////////////////////// */
/* /////////////////// menu déroulant /////////////////// */
/* ////////////////////////////////////////////////////// */
/* ====================================================== */

/* position de la barre de nav*/
nav {
    display: inline-flex;
    justify-content: center;
/*     position: relative; */
    vertical-align:  bottom;
    background-color : black;
  align-self: flex-end;
  flex-grow: 4;
}

/* items de la liste*/
nav ul {
    list-style-type: none;
}

/* position des elts de la liste */
nav ul li {
    display: inline-block;
    position: relative;
    padding: 2.5% 20px;
}

nav ul li a {
    color: rgb(194, 0, 0);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}

.deroulant > a::after {
    content: " ▼ ";
    font-size: 0.8em;
}


/* ====================================================== */
/* ////////////////////////////////////////////////////// */
/* ///////////////// fin menu déroulant ///////////////// */
/* ////////////////////////////////////////////////////// */
/* ====================================================== */

/* ====================================================== */
/* ////////////////////////////////////////////////////// */
/* /////////////////// @MediaQueries  /////////////////// */
/* ////////////////////////////////////////////////////// */
/* ====================================================== */

@media (min-device-width: 481px) {
    .sous {
        display: none;
        position: absolute;
        z-index: 1000;
        width: auto;
    }

    nav > ul li:hover .sous {
        display: block;
    }

    .sous li {
        float: none;
        width: 100%;
        text-align: left;
    }

    .sous a:hover {
        background-color: RGBa(0, 0, 0, 0.2);
    }
}





/* ====================================================== */
/* ////////////////////////////////////////////////////// */
/* ///////////////// fin @MediaQueries  ///////////////// */
/* ////////////////////////////////////////////////////// */
/* ====================================================== */
