:root {
    --color_violet: #e6ccff;
    --font: 'Optima', sans-serif;
    --color_dark_violet: #440085;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

a {
    text-decoration: none;
    color: var(--color_dark_violet);
}


html {
    width: 100%;
    height: 100%;
}

body {
    /*    width: 100%;*/
    height: 100%;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 70px;
    /* background: rgb(128, 117, 110); */
}

header {
    width: 100%;
    background: linear-gradient(to bottom, var(--color_violet), 70%, transparent);
    position: fixed;
    top: 0;
    height: 90px;
    z-index: 1000;
}

h1 {
    font-size: 40px;
    float: left;
    position: fixed;
    left: 0;
    top: 0;
}

h1 a {
    font-family: 'Noto Serif', serif;
    text-decoration: none;
    /* border-right: solid 2px;
    border-bottom: solid 2px; */
    /* margin: 5px; */
    color: var(--color_dark_violet);
    /* background-color: var(--color_violet); */
    padding: 1px 15px 5px 15px;
    /* border-bottom-right-radius: 15px; */
    /* border-top-left-radius: 15px; */
}

/* ====================================================== */
/* //////////// connexion / deconnexion ///////////////// */
/* ====================================================== */
.log{
    position: fixed;
    top: 15px;
    right: 20px;
    color: var(--color_violet);
    background-color: var(--color_dark_violet);
    border: 2px solid var(--color_violet);
    border-radius: 20px;
    padding: 4px 10px 4px 10px;
    font-family: var(--font);
    text-decoration: none;
    cursor: pointer;
}
.log a{
    color: var(--color_violet);
}
.log:hover a{
    color: var(--color_dark_violet);
}
.log:hover{
    color: var(--color_dark_violet);
    background-color: var(--color_violet);
    border: 2px solid var(--color_dark_violet);
}

header input {
    margin: 0;
}

header h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ====================================================== */
/* ///////////////////// navbar ///////////////////////// */
/* ====================================================== */
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0px;
    right: 150px;
}

svg {
    fill: var(--color_dark_violet);
}

#accueil svg ,#recherche svg,#contact svg,#menu_admin svg,#menu_structure svg{
    margin-right: 10px;
}

header nav ul li a:hover{
    color: var(--color_violet);
    background-color: var(--color_dark_violet);
}

#accueil:hover svg,#recherche:hover svg,#contact:hover svg,#menu_admin:hover svg,#menu_structure:hover svg{
    fill: var(--color_violet);
}

header nav ul,
header nav ul li {
    display: flex;
    justify-content: space-evenly;
}

header nav ul li a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 30px;
    margin: 2% 2%;
    text-decoration: none;
    background-color: var(--color_violet);
    color: var(--color_dark_violet);
    border-radius: 20px;
    border: 2px solid;
}

.deroulant>a::after {
    content: " ▼ ";
    padding-left: 10px;
    opacity: 80%;
}

.sous {
    display: none;
    position: absolute;
    z-index: 1000;
}

header nav>ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
}

/* ====================================================== */
/* ////////////////// contenu /////////////////////////// */
/* ====================================================== */


h2 {
    display: flex;
    font-size: 30px;
    position: absolute;
    top: 110px;
    left: 100px;
    font-family: 'Noto Serif', serif;
}

section {
    z-index: 1;
    position: fixed;
    right: 0px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    align-items: right;
    width: 70%;
    height: calc(100% - 50px - 90px);
    margin-top: 30px;
    flex-grow: 1;
    /*Permet le callage du pieds de page en déformant la section par rapport aux autres objets*/
    border-radius: 20px 0 0 20px;
    border: 2px solid var(--color_violet);
    border-right: 0;
    /* background-color: rgb(255, 238, 228); */
}

section {
    padding: 20px;
}

/* ====================================================== */
/* ///////////////////// Scrollbar ////////////////////// */
/* ====================================================== */
section::-webkit-scrollbar {
    width: 10px;
}

section::-webkit-scrollbar-thumb {
    background: var(--color_dark_violet);
    border-radius: 20px;
}

section::-webkit-scrollbar-track {
    border-radius: 20px;
}

/* ====================================================== */
/* /////////////////////// footer /////////////////////// */
/* ====================================================== */
footer {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, var(--color_violet), 70%, transparent);
    margin: auto;
    width: 100%;
    text-align: right;
    padding: 6px;
    position: fixed;
    bottom: 0;
    color: var(--color_dark_violet);
}


/* ====================================================== */
/* ///////////////// Notes qui défilent ///////////////// */
/* ====================================================== */

.notesQuiBougent {
    z-index: -2;
    position: fixed;
    top: 65px;
    /* border: 1px solid; */
    /* left: 100vw; */
    width: 100vw;
    /* overflow: hidden; */
    transition: all 2s;
}

.notesQuiBougent> :first-child {
    display: inline-block;
    /* modèle de boîte en ligne */
    padding-right: 2em;
    /* un peu d'espace pour la transition */
    padding-left: 100%;
    /* placement à droite du conteneur */
    white-space: nowrap;
    /* pas de passage à la ligne */
    animation: defilement 100s infinite linear;
    color: var(--color_dark_violet);
}

@keyframes defilement {
    0% {
        transform: translate3d(0, 0, 0);
        /* position initiale à droite */
    }

    100% {
        transform: translate3d(-100%, 0, 0);
        /* position finale à gauche */

    }
}


/* ====================================================== */
/* /////////////////// media queries //////////////////// */
/* ====================================================== */
@media screen and (max-width: 980px) {
    #navbar {
        display: none;
    }

    h2 {
        left: 10px;
    }
}

