p {
    text-align: justify;
}

section {
    }

.structure {
    padding: 10px;
    margin: 10px 0;
    /*background-color: grey;*/
    /*background-color: rgb(229,    199,    188);*/
    background: rgba(207,42,135,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(207,42,135,0.25);
}



.offre {
    width:80%;
    margin-left: 20%;
    background-color: rgb(133, 115, 105);
}

.offre, .structure {
    display: flex;
    padding: 15px;
    border-radius: 5px;
}

.offre h3, .structure h3{
    margin-bottom: 5px;
}


.code_postal, .ville {
    display: inline;
}

.offre {
    margin-top: 10px;
}

.hide {
    display: none;
}

.content {
    padding: 10px;
}

.voir-offres {
    position: absolute;
    bottom: 0;
}

/****************** SLIDESHOW **************************/
img {vertical-align: middle;}

/* Slideshow container */
.slideshow_container {
    display: block;
    min-width: 220px;
    max-width: 220px;
    min-height: 220px;
    max-height: 220px;
    position: relative;
    margin: 0px;
    padding: 10px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 13px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}
#arraySlides{
    display: none;
}
/* On hover, add a grey background color */
.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 80%);
    color: black;
}