* {
    color: black;
    margin: 0px;
    padding: 0px;
}

#navbar, button, input, .notesQuiBougent, .prev, .next, #arraySlides {
    display: none;
}

.slideshow-container, img {
    display: none;
}

h2 {
    border: solid 2px black;
}

.structure::before {
    content: string(Structure );
}

.offre {
    margin-left: 20%;
}

footer {
    margin-top: 40px;
}

p{
    text-align: justify;
}